<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

<title>{{ site.title }}</title>
<meta name="description" content="{{ site.description }}">
<meta name="author" content="{{ site.author }}">
<link rel="stylesheet" type="text/css" href="https://inteligensi.github.io/Deadlines/static/css/js-year-calendar.min.css?t={{site.time | date: '%s' }}" media="screen,projection">

<link rel="stylesheet" type="text/css" href="https://inteligensi.github.io/Deadlines/static/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="https://inteligensi.github.io/Deadlines/static/css/deadlines.css?t={{site.time | date: '%s'}}" media="screen,projection">
<link rel="stylesheet" type="text/css" href="https://inteligensi.github.io/Deadlines/static/css/calendar.css?t={{site.time | date: '%s'}}" media="screen,projection">

<link rel="shortcut icon" href="https://inteligensi.github.io/Deadlines/static/img/favicon.png">

<script type="text/javascript" src="https://inteligensi.github.io/Deadlines/static/js/js-year-calendar.js"></script>
<script type="text/javascript" src="https://inteligensi.github.io/Deadlines/static/js/jquery.min.js"></script>
<script type="text/javascript" src="https://inteligensi.github.io/Deadlines/static/js/popper.min.js"></script>
<script type="text/javascript" src="https://inteligensi.github.io/Deadlines/static/js/bootstrap.min.js"></script>
<script type="text/javascript" src="https://inteligensi.github.io/Deadlines/static/js/jquery.countdown.min.js"></script>
<script type="text/javascript" src="https://inteligensi.github.io/Deadlines/static/js/moment.min.js"></script>
<script type="text/javascript" src="https://inteligensi.github.io/Deadlines/static/js/moment-timezone-with-data.min.js"></script>
<script type="text/javascript" src="https://inteligensi.github.io/Deadlines/static/js/store.min.js"></script>
<script type="text/javascript" src="https://inteligensi.github.io/Deadlines/static/js/ouical.min.js"></script>
<script type="text/javascript" src="https://inteligensi.github.io/Deadlines/static/js/bootstrap-multiselect.min.js"></script>
